html {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-webkit-appearance: none;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0px;
	display: flex;
}

html,
body,
input,
textarea,
select,
button {
	background-color: #131516;
	border-color: #736b5e;
	color: #e8e6e3;
}

#canvas {
	flex: 1;
	display: table;
	position: relative;
	margin: auto;
}

#frame {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#mainWrapper {
	float: right;
	width: 340px;
	height: 100vh;
	background-color: #212325;
	font-family: arial, sans-serif;
	font-size: 12px;
	flex: 0 0 340px;
	padding-top: 0px;
	overflow: hidden;
	margin: 0px;
	position: relative;
}

#chatWrapper {
	width: 100%;
	height: calc(100% - 90px);
	background-color: #212325;
	font-family: arial, sans-serif;
	font-size: 12px;
	position: relative;
	padding-top: 0px;
	overflow: hidden;
	margin: 0px auto;
}

#chatHeader {
	margin: 0;
	box-sizing: border-box;
	position: relative;
	height: 50px;
	padding: 10px 0;
	line-height: 30px;
	text-align: center;
	font-size: 14px;
	width: 100%;
	box-shadow: inset 0 -1px 0 0 #2c3032;
	background-color: #212325;
	z-index: 2;
}

#chatFooter {
	bottom: 0;
	margin: 0;
	position: absolute;
	height: 90px;
	width: 100%;
}

#chatHeader p {
	margin: 0;
	box-sizing: border-box;
	line-height: 20px;
	font-size: 12px;
	margin-bottom: -6px;
	padding-top: 6px;
	font-family: "Helvetica Neue", "Helvetica", sans-serif
}

#chatFooterForm {
	position: relative;
	height: 100%;
	text-align: center;
	font-size: 14px;
	width: 100%;
	background-color: #212325;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

svg.headerIcon {
	fill: rgb(100, 65, 164);
	position: absolute;
	left: 20px;
	top: 17.5px;
	line-height: 30px;
}

#chat {
	width: 330px;
	height: calc(100% - 50px);
	padding: 10px;
	background-color: #212325;
	overflow-y: auto;
	position: relative;
}

.chatMessage {
	display: block;
	line-height: 30px;
	position: relative;
}

.chatMessage:last-child { 
	margin-bottom: 10px; 
}

.emote_holder {
	position: relative;
	vertical-align: middle;
	display: inline-block;
	height: 32px;
}

.emote {
	max-height: 28px;
}

#autoscroll {
    position: absolute;
	transition: opacity 0.5s ease-out;
    opacity: 0;
    margin-top: -37px;
    margin-left: 15px;
    background-color: #353535;
    width: calc(100% - 30px);
    cursor: default;
	line-height: 30px;
	text-align: center;
}

#autoscroll:hover {
	background-color: #353535ab;
}

a {
	color: #6441a5;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#textfield {
	height: 45px;
	flex-basis: 92%;
	border: solid;
	border-width: 1px;
	border-color: gray;
}

#settingsButton {
	content: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3e%3cpath style='fill:%236441a4;' d='M24 13.616v-3.232c-1.651-.587-2.694-.752-3.219-2.019v-.001c-.527-1.271.1-2.134.847-3.707l-2.285-2.285c-1.561.742-2.433 1.375-3.707.847h-.001c-1.269-.526-1.435-1.576-2.019-3.219h-3.232c-.582 1.635-.749 2.692-2.019 3.219h-.001c-1.271.528-2.132-.098-3.707-.847l-2.285 2.285c.745 1.568 1.375 2.434.847 3.707-.527 1.271-1.584 1.438-3.219 2.02v3.232c1.632.58 2.692.749 3.219 2.019.53 1.282-.114 2.166-.847 3.707l2.285 2.286c1.562-.743 2.434-1.375 3.707-.847h.001c1.27.526 1.436 1.579 2.019 3.219h3.232c.582-1.636.75-2.69 2.027-3.222h.001c1.262-.524 2.12.101 3.698.851l2.285-2.286c-.744-1.563-1.375-2.433-.848-3.706.527-1.271 1.588-1.44 3.221-2.021zm-12 2.384c-2.209 0-4-1.791-4-4s1.791-4 4-4 4 1.791 4 4-1.791 4-4 4z'/%3e%3c/svg%3e");
	height: 25px;
	margin-right: 60%;
	color: white;
	border: none;
	outline: none;
}

#chatButton {
	height: 30px;
	background-color: #6441a4;
	color: white;
	border: none;
	outline: none;
	flex-basis: 50px;
}

#comboDiv {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 48px;
	margin-left: 10px;
}

#combo {
	color: white;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	-webkit-font-smoothing: antialiased;
}

#combo .emote {
	margin-left: 5px;
}

.settings_wrapper {
	display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	z-index: 2;
	background-color: #000000b3;
}

.settings {
	position: relative;
	width: 300px;
	margin: 100px auto;
	background-color: #181a1b;
	border-radius: 2px;
	box-shadow: 0 10px 10px -6px rgba(2, 21, 38, 0.3);
}

.settings__input {
	width: 100%;
	padding: 0 1px;
	border: 1px solid #b7c3cf;
	height: 40px;
	line-height: 40px;
	font-size: 15px;
	border-radius: 2px;
	background-color: rgb(24, 26, 27);
    color: rgb(167, 160, 148);
	outline: none;
}

.settings__input:focus {
	background-color: rgb(24, 26, 27);
	border-color: #0fb9ed;
	box-shadow: 0 0 2px #00b2e8;
}

.settings__header {
	height: 50px;
	background-color: #700070;
	border-radius: 2px 2px 0 0;
	text-align: center;
	line-height: 50px;
	font-size: 22pt;
}

.settings__item {
	border-top: 1px solid rgba(65, 70, 73, 0.5);
	padding: 12px 27px 17px 23px;
}

.settings__item:first-child {
	border-top: 0;
}

.settings__item--link {
	display: block;
	padding-top: 15px;
	cursor: pointer;
	color: #8097b1;
	text-decoration: none;
	outline: none;
}

.settings__item--link:before {
	content: '';
	display: inline-block;
	width: 12px;
	height: 13px;
	margin-right: 10px;
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='13' fill='%238097B1'%3E%3Cpath d='M9 9.5l3-3-3-3-1 1 1.3 1.3H4v1.5h5.3L8 8.5'/%3E%3Cpath d='M0 0h8v1.5H1.5v10H8V13H0'/%3E%3C/svg%3E%0A");
}

.settings__item--link:focus {
	background-color: #700070;
	color: #1d1f24;
}

.settings__label {
	display: block;
	color: #fff;
	padding: 5px 0 10px;
}

/* Change Autocomplete styles in Chrome*/

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
	-webkit-text-fill-color: white;
	transition: background-color 5000s ease-in-out 0s;
}

::-webkit-scrollbar {
	background-color: #202324;
	color: #aba499;
}

::-webkit-scrollbar-thumb {
	background-color: #454a4d;
}